.layout_left {
	display: none;
}

.layout_right {
	position: fixed;
	top: 40px !important;
	bottom: 0px;
	left: 0px !important;
	right: 0px;
}

ul.links {
	/* Links clickable more easily */
	height: 40px !important;
	width: 40px !important;
}

ul.links li a {
	width: 40px !important;
}

ul.links li.title {
	width: auto !important;
}
