.layout_left {
	display: none;
}

.layout_right {
	position: fixed;
	top: 40px !important;
	bottom: 0px;
	left: 0px !important;
	right: 0px;
}

ul.links {
	height: 40px !important;
}

ul.links li, ul.links li a {
	width: 40px !important;
}

ul.links li, ul.links li a span, ul.links li.title h1 {
	line-height:40px !important;
}

ul.links li.github {
	display: none;
}

ul.links li.navigation {
	position: absolute;
	top: 0px;
	width: 40px !important;
	height: 40px !important;
}

ul.links li.navigation.prev {
	left: 150px !important;
}

ul.links li.navigation.next {
	right: 0px;
}

ul.links li.navigation a {
	width: auto;
}

ul.links li.navigation a span.text {
	display:none;
}

ul.links li.title {
	width: unset !important;

	white-space:nowrap;

	position:absolute:

	left: unset !important;
	right: unset !important;
	top: unset !important;
	bottom: unset !important;

	left: 190px !important;
	right: 40px !important;
	top: 0px !important;
	bottom: 40px !important;

	text-overflow: ellipsis;
	overflow:hidden;

}

ul.links li.title h1 {
	position:absolute:
	left:0px;
	right:0px;
}