pre {
	font-family: Terminus, "Lucida Console", monospace !important;
}

.terminal {
	font-family: Terminus, "Lucida Console", monospace !important;
	background-color: black;
	color: lightgray;

	margin: 0;
	padding: 0;
}

.terminal pre {
	white-space: pre-wrap;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;

	background-color: white;
	color: black;
}

ul.links {
	background-color: grey;

	margin:0;
	padding:0;
}

ul.links li, ul.links li a {
	color: lightgrey;

	list-style: none;

	float:left;
	width: 26px;
	height: 100%;

	vertical-align: middle;
	text-align: center;
}

ul.links li a:visited {
	color: lightgrey;
}

ul.links li.sel {
	background-color: black;
}

ul.links li.title {
	width: auto;
}

ul.links li h1 {
	color: white;
	font-size:18px;
	display:inline;
	padding:0;
	margin:0;
	padding-left: 10px;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}
