@font-face {
	font-family: "terminus";
	src: url(terminus-4.39.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "terminus";
	src: url(terminus-bold-4.39.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "terminus";
	src: url(terminus-italic-4.39.ttf) format("truetype");
	font-weight: normal;
	font-style: italic;
}

pre {
	font-family: terminus, monospace !important;
}

.terminal {
	font-family: terminus, monospace !important;
	background-color: black;
	color: lightgray;

	margin: 0;
	padding: 0;
}

.terminal pre {
	white-space: pre-wrap;
}

body {
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
}

ul.links {
	background-color: grey;

	margin:0;
	padding:0;
}

ul.links li, ul.links li a {
	color: lightgrey;

	list-style: none;

	float:left;
	width: 26px;
	height: 100%;

	vertical-align: middle;
	text-align: center;
}

ul.links li a:visited {
	color: lightgrey;
}

ul.links li.sel {
	background-color: black;
}

ul.links li.title {
	width: auto;
}

ul.links li h1 {
	color: white;
	font-size:18px;
	display:inline;
	padding:0;
	margin:0;
	padding-left: 10px;
}
