<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BaOBoB - {{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/resources/style.css" />
		<link rel="stylesheet" type="text/css" href="/resources/layout.css" />
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 630px) and (orientation: portrait)" href="/resources/layout-mobile.css" />
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 630px) and (orientation: landscape)" href="/resources/layout-mobile.css" />
		<link rel="stylesheet" type="text/css" href="/resources/syntax.css" />
		<link rel="stylesheet" type="text/css" href="/octicons/octicons.css" />
		<link rel="shortcut icon" type="image/png" href="/favicon.png" />
		<link rel="alternate" type="application/rss+xml" title="RSS - links only" href="{{ site.url }}/rss_links.xml" />
		<link rel="alternate" type="application/rss+xml" title="RSS - complete articles" href="{{ site.url }}/rss_complete.xml" />
	</head>
	<body>
		<div class="layout_top">
			<ul class="links">
				{% assign sorted_pages = site.html_pages | sort:"order" %}
				{% for cat in sorted_pages %}
				{% if cat.order %}
				<li {% if cat.icon == page.icon %}class="sel"{% endif %}><a href="/{{cat.path}}"><span class="octicon octicon-{{cat.icon}}" title="{{cat.title}}"></span></a></li>
				{% endif %}
				{% endfor %}
				<li class="github"><a href="https://github.com/guillaumecl/guillaumecl.github.io"><span class="octicon octicon-mark-github" title="Sources on Github"></span></a></li>
				<li class="title"><span class="octicon octicon-{{page.icon}}"></span><h1>{{ page.title }}</h1></li>
				{% if page.previous %}
				<li class="navigation prev">
					<a href="{{page.previous.url}}" title="{{page.previous.title}}">
						<span class="octicon octicon-arrow-left"></span>
						<span class="text">{{page.previous.title}}</span>
					</a>
				</li>
				{% endif %}
				{% if page.next %}
				<li class="navigation next">
					<a href="{{page.next.url}}" title="{{page.next.title}}">
						<span class="octicon octicon-arrow-right"></span>
						<span class="text">{{page.next.title}}</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
		<div class="layout_left terminal">
			<pre>{% include {{page.terminal}} %}</pre>
		</div>

		<div class="layout_right">
			{% if page.date %}
			<div class="date">Posted on: {{page.date | date: "%-d %B %Y"}}</div>
			{% endif %}
			{{ content }}
		</div>
		<img src="http://track.baobob.org/{{page.title}}.png" style="display: none;"/>
	</body>
</html>
