<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My webpage - {{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="resources/style.css" />
		<link rel="stylesheet" type="text/css" href="resources/layout.css" />
		<link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px) and (orientation: portrait)" href="resources/layout-mobile.css" />
		<link rel="stylesheet" type="text/css" href="octicons/octicons.css" />
		<link rel="shortcut icon" type="image/png" href="/favicon.png" />
	</head>
	<body>
		<div class="layout_top">
			<ul class="links">
				{% assign sorted_pages = site.html_pages | sort:"order" %}
				{% for cat in sorted_pages %}
				<li {% if cat.path == page.path %}class="sel"{% endif %}><a href="{{cat.path}}"><span class="octicon octicon-{{cat.icon}}" title="{{cat.title}}" /></a></li>
				{% endfor %}
				<li><a href="https://github.com/guillaumecl/guillaumecl.github.io"><span class="octicon octicon-mark-github" title="Sources on github" /></a></li>
				<li class="title"><h1>{{ page.title }}</h1></li>
			</ul>
		</div>
		<div class="layout_left">
			<div class="terminal">
				<pre>$ cat news
{% include news %}</pre>
			</div>
		</div>

		<div class="layout_right">
			{{ content }}
		</div>
	</body>
</html>
